
.container{
    padding: 70px 0;
    border: 2px solid rgb(78, 4, 72);
    text-align: center;
    color:black;
    background-color:rgb(208, 201, 254);
}

H1{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
  
}